<!-- Navegador con imagen -->
<nav class="navbar fixed-top" style="background-color: #83F29D">
    <!-- Contenedor del logo -->
    <div class="container ">
        <a class="navbar-brand mx-auto" href="# ">
            <img src="assets/img/logo.png" width="150 " height="50" alt="Ininbio" />
        </a>
        <!-- Botón para cerrar sesión -->
        <div container>
            <button type="button" class="btn btn-success">Cerrar Sesión</button>
        </div>
    </div>
    <!-- FIN Contenedor del logo -->
</nav><br><br><br><br><br><br>
<!-- FIN Navegador con imagen -->

<!-- Cuerpo de la página -->

<body>
    <!-- Contenedor de las tarjetas -->
    <div class="container">
        <!-- Tabla -->
        <div class="row">
            <!-- Tarjeta 1: Productos -->
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/productos.png" class="card-img-top" alt="Productos">
                    <!-- Cuerpo de la tarjeta -->
                    <div class="card-body">
                        <h5 align="center" class="card-title">Productos Almacen</h5>
                        <a routerLink="/products" type="button" class="btn btn-outline-success btn-block" id="boton"> Mostrar Información </a>
                    </div>
                    <!-- Fin Cuerpo de la tarjeta -->
                </div>
                <!-- Fin card-->
            </div>
            <!-- Fin col-->

            <!-- Tarjeta 2: Clientes -->
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/clientes.png" class="card-img-top" alt="Clientes">
                    <div class="card-body">
                        <h5 align="center" class="card-title">Clientes Asociados</h5>
                        <a routerLink="/customers" type="button" class="btn btn-outline-success btn-block" id="boton"> Mostrar Información </a>
                    </div>
                    <!-- Fin card-body-->
                </div>
                <!-- Fin card-->
            </div>
            <!-- Fin col-->

            <!-- Tarjeta 3: Personal  -->
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/trabajadores.png" class="card-img-top" alt="Personal">
                    <div class="card-body">
                        <h5 align="center" class="card-title">Personal Empresa</h5>
                        <a routerLink="/employees" type="button" class="btn btn-outline-success btn-block" id="boton"> Mostrar Información </a>
                    </div>
                    <!-- Fin card-body-->
                </div>
                <!-- Fin card-->
            </div>
            <!-- Fin col-->

            <!-- Tarjeta 4: Ordenes de Compra  -->
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/odc.png" class="card-img-top" alt="Orden de Compra">
                    <div class="card-body">
                        <h5 align="center" class="card-title">Ordenes de Compra</h5>
                        <a routerLink="/odc" type="button" class="btn btn-outline-success btn-block" id="boton"> Mostrar Información </a>
                    </div>
                    <!-- Fin card-body-->
                </div>
                <!-- Fin card-->
            </div>
            <!-- Fin col-->

            <!-- Tarjeta 5: Status -->
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="assets/img/status.png" class="card-img-top" alt="Status">
                    <div class="card-body">
                        <h5 align="center" class="card-title">Status de Productos</h5>
                        <a routerLink="/status" type="button" class="btn btn-outline-success btn-block" id="boton"> Mostrar Información </a>
                    </div>
                    <!-- Fin card-body-->
                </div>
                <!-- Fin card-->
            </div>
            <!-- Fin col-->
        </div>
        <!-- Fin Tabla-->
    </div> <br> <br>
    <!-- Fin Contenedor de las tarjetas -->
</body>
<!-- Fin Cuerpo de la página -->


<!-- Botones. OPCIONES -->
<!-- <button type="button" class="btn btn-outline-dark btn-block" id="boton">
                        Agregar
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-block" id="boton">
                        Modificar
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-block" id="boton">
                        Eliminar
                    </button> -->